@font-face
{
    font-family:Montserrat;
    src:url(../fonts/Montserrat-VariableFont_wght.ttf) format("TrueType");
    font-display:swap;
    font-style: normal;
}

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root
{
    --primary-color:#ffffff;
    --secondary-color:#8f0101;

    --background-primary-color:#000000;

    --text-weight:500;
    --title-weight:400;
    --text-weight-2:700;
}

body
{
    font-family:"Montserrat",sans-serif;
    color:var(--primary-color);
}

.title
{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:32px;
    gap:16px;
}

.title h2
{
    font-size:28px;
    color:black;
    font-weight:var(--text-weight-2);
}

.title hr
{
    width:180px;
    height: 4px;
    background-color:var(--secondary-color);
    border:none;
}
