header
{
    width:100%;
    height: 138px;
    background-color: var(--background-tertiary-color);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
    position:relative;
}

.div-nav
{
    margin-top: 20px;
}

input[type=checkbox]:checked ~ nav
{
    display:block;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background-color:var(--background-tertiary-color)
}

label
{
    cursor:pointer;
}

.list-nav
{
    list-style:none;
    padding:0 50px;
}

.list-nav li a
{
    text-decoration:none;
    color:var(--text-primary-color);
}



nav
{
    display:none;
}

.logo
{
    width:68px;
    height: 64px;
    display:inline-block;
}