header
{
    width:100%;
    height: 138px;
    background-color: var(--background-tertiary-color);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

.div-nav
{
    margin-top: 20px;
}

nav
{
    display:none;
}

.logo
{
    width:68px;
    height: 64px;
    display:inline-block;
}