header
{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-tertiary-color);
    padding: 0 48px;
    height: 138px;
    position:relative;
}


.logo
{
    width:64px;
    height: 68px;
}



.list-links nav
{
    display:none;
}

.list-links input[type=checkbox]:checked ~ nav
{
    display:block;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background-color: var(--background-tertiary-color);
}

.list-links nav ul li
{
    margin: 16px 0;
}

.list-links nav ul li a
{
    text-decoration:none;
    color:var(--text-primary-color);
    font-size:24px;
    font-weight: var(--title-weight);
}

@media screen and (min-width:768px)
{
    .list-links label
    {
        display:none;
    }

    .list-links nav
    {
        display:block;
    }

    .list-links nav ul
    {
        display:flex;
        flex-direction: row;
        width:467px;
        height: 29px;
        justify-content: space-between;
    }

    .list-links nav ul li
    {
        margin: 0;
    }
}